.ipynb_checkpoints
AppliedAINotebooks
Datasets
Ad click prediction: a view from the trenches.pdf
archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1589351275&Signature=GQhd4RNormlIMWuxv7U2x8vTJLy7BLU7qwxLTGs08ZwCNCUHJ2y0Zf3khDA9iVwAjjaLjzNl7KRNajT+SfdnZB6%2F6FD8lgPCYFoqEtCJp63%2FhmDMzrXWiQ2dYu4OQsgu7
GoogleNews-vectors-negative300.bin
GoogleNews-vectors-negative300.bin.gz
SVM_BOW_pipeline.pkl
w2v_inputs.pkl
w2v_model.bin
.~lock.Validation_results.xlsx#
articles/AWS-app-deplotment/AWS-app-deplotment.md
articles/Azure-Cloud-Setup-for-Launching-a-Web-Application/Azure-Cloud-Setup-for-Launching-a-Web-Application.md
articles/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals.md
articles/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals/Image_01.png
articles/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals/Image_02.png
articles/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals/Image_03.gif
articles/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals/Image_04.png
articles/Building-a-web-crawler-in-python-that-scrapes-stock-fundamentals/Image_05.gif
articles/Deploy-Machine-Learning-application-Using-Flask/Deploy-Machine-Learning-application-Using-Flask.md
articles/Deploy-Machine-Learning-application-Using-Flask/working_app.gif
articles/How-to-use-Selenium-as-life-saver-when-dealing-with-boring-tasks/How-to-use-Selenium-as-life-saver-when-dealing-with-boring-tasks.md
articles/How-to-use-Selenium-as-life-saver-when-dealing-with-boring-tasks/Image_01.png
articles/How-to-use-Selenium-as-life-saver-when-dealing-with-boring-tasks/Image_02.gif
articles/How-to-use-Selenium-as-life-saver-when-dealing-with-boring-tasks/Image_03.gif
articles/My-Learnings-From-Used-Car-Predictions/Image_01.png
articles/My-Learnings-From-Used-Car-Predictions/My-Learnings-From-Used-Car-Predictions.md
articles/My-Learnings-From-Used-Car-Predictions/Outlier_methods_chart.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_01.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_02.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_03.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_04.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_05.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_06.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Image_07.png
articles/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization/Principal-Component-Analysis:-In-depth-understanding-through-image-visualization.md
articles/Pytorch-image-captions/attention_and_alpha_scores.png
articles/Pytorch-image-captions/encoded_image_vec.png
articles/Pytorch-image-captions/readme.md
articles/Pytorch-image-captions/Z_t.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_01.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_02.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_03.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_04.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_05.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_06.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_07.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_08.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_09.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_10.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_11.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_12.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Image_13.png
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Output.md
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance.md
articles/Setting-up-python+jupyter+spark-integrated-environment-in-AWS-EC2-instance/Setting-Up-Spark-Enviornmet-in-AWS-EC2-Instance.md
articles/Spark-Introduction/Spark-Introduction.md
